*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}
h4{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
img{
    width: 100%;
}
#header{
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
}
#title{
    background-color: whitesmoke;
}
#row{
    /* use flexbox on the parent div to layout a row or column of child divs */
    display: flex;
    /* use row for desktop and tablet layout */
    flex-direction: row;
    /* wrap is used with tablets layout to create an extra row */
    flex-wrap: wrap;
}
.column{
    /* flex 1 sets flex-grow to 1, flex-shrink to 1 and flex-basis to 1
    flex-basis of 1 means children colums will have equal width */
    flex: 1;
    /* because box-sizeing = border box, padding is counted as part of the overall width of the column */
    padding: 10px;
}
#col1{
    background-color:#81a0ce;
}
#col2{
    background-color: #FFDDD4;
}
#col3{
    background-color: #E5DEC4;
}
#col4{
    background-color: #70AAFE;
}
#col5{
    background-color: #7FA9A8;
}
#col6{
    background-color:#AA6967;
}
#col7{
    background-color:#4B6C71 ;
}
#col8{
    background-color:#FF7467;
}
#col9{
    background-color:#FCD3B7;
}
#col10{
    background-color:#FCF8ED;
}
#col11{
    background-color:#FFFFFF;
}
#col12{
    background-color:#EABAFF;
}
a p:hover{
    background-color: black;
    text-decoration: #FFFFFF;
}
a p:active{

}
#footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    background-color: aliceblue;
    padding: 15px;
    text-align: center;
}
@media screen and (max-width:900px){
    .column{
        min-width:50%; 
    }
}